<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Copropriétaire</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"/>
</head>
<body>
    <h1> liste des titres fonciers </h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th><th>type</th><th>numero</th><th>propritaire</th>

            </tr>

        </thead>
        <tbody>
            <tr th:each="t:${titresFonciers}">

                <td th:text="${t.id}"></td>

                <td th:text="${t.numero}"></td>



            </tr>
        </tbody>
    </table>


</body>
</html>